<h1>The Community of Non-Office Jobs</h1>

<% @users.each do |user| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
        <%= image_tag(user.avatar.tiny.url) if user.avatar? %>
         <%= link_to user.name, user %>
       </h4>
     </div>
   </div>
<% end %>