<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p>More to come!<%#= @user.name %></p>
          </h4>
        </div>
      </div>
  </div>

</div>