<h1>About Non-Office Jobs</h1>
<h3>Inspiration for the college grad turned barista</h3>

<p>While we traipse about our campuses with books in tow walking in the opposite direction from the class we should be attending, the world is our oyster. It's only when we graduate and have to pay off our student loans that we realize the four-year underwater basket-weaving degree we received only proves us qualified to work at Starbucks.</p>

<p>We shuffle around for a few years in disgruntled confusion. Finally, we decide to step off our pedestal into the world of anonymous, cubicle-enclosed office work. It's miserable. We wonder how anyone could do it for ten years, let alone forty. We desperately want to be doing something else but can't come up with a better idea.</p>

<p>That's where Non-Office Jobs comes in.</p>
<p>Take a spin around the site. See the plethora of job ideas we have. Talk to other people like yourself. Read the blog for inspiration. Check out our favorite stuff that just might help you take that leap of faith you've been meaning to take for years. </p>

<h1>About the founder, Rachel Bird</h1>

<p>I grew up in sunny southern California with great grades and a solid college experience under my belt. Then I became a:
<div class="row">
    <div class="pull-left">
      <%= image_tag 'rachelbird.jpg', class: "img-circle", alt: "Rachel Bird", width: "250px" %>
  </div>
  <div class="col-md-8">
      <%= image_tag 'jobwordcloud.png', alt: "Rachel Bird's Job Word Cloud" %>
  </div>
</div>
</p>

<p>
I've changed careers A LOT because I was curious and confused. The biggest reason was lack of belief. I didn't think I could be great, and if I opened up to the possibility, it was way too scary. No, small is fine for me, thank you very much.</p>

<p>But you know what? I'm too big for small. And I'm pretty sure you are too. Small is uncomfortable. We're all so much more, and the more we go on resisting, the more things feel off.</p>

<p>That's why I created Non-Office Jobs. Together, through this community, let's destroy all the obstacles we've created, both internal and external, and be truly great. No regrets.</p>

<blockquote>
  <p>Our deepest fear is not that we are inadequate. Our deepest fear is that we are powerful beyond measure. It is our light, not our darkness that most frightens us. We ask ourselves, Who am I to be brilliant, gorgeous, talented, fabulous? Actually, who are you not to be? You are a child of God. Your playing small does not serve the world. There is nothing enlightened about shrinking so that other people won't feel insecure around you. We are all meant to shine, as children do. We were born to make manifest the glory of God that is within us. It's not just in some of us; it's in everyone. And as we let our own light shine, we unconsciously give other people permission to do the same. As we are liberated from our own fear, our presence automatically liberates others. <br /><br />
  Marianne Williamson from her book, <em>A Return To Love: Reflections on the Principles of A Course in Miracles</em></p>
</blockquote>