<h1>Contact</h1>

<div class="row">
    <div class="pull-left">
      <%= image_tag 'rachelbird.jpg', class: "img-circle", alt: "Rachel Bird", width: "250px" %>
    </div>
  <div class="col-md-8">
  <br><br>
      <p>Drop me a line at <%= mail_to "rachel@nonofficejobs.com", "rachel@nonofficejobs.com" %>. I'll be happy to answer questions, and/or listen to critiques and suggestions for the site. </p>
    <div align="center">
      <%= image_tag 'Rachelsig.jpg', alt: "Rachel Bird" %>
    </div>
  </div>
</div>
</p>