<h1>FAQ</h1>

<h4>How much is this going to cost me?</h4>
<p>Nothing! Unless you post a <%= link_to "job opportunity", new_listing_path %>.</p>

<h4>Are you hating on office jobs?</h4>
<p>Maybe a little. Sorry. If you like yours, then more power to you! It's just that this type of work leaves many dissatisfied, so we're here for them. </p>
<p>And it's not like you need to be in one camp or the other. Some of us will go back and forth, and that's all good too. Whatever works.</p>