<h1>Quizzes</h1>
<br>

<div>
  <h4><%= link_to "Myers-Brigg Personality Test", "http://www.16personalities.com/free-personality-test", :target => "_blank" %></h4>
  <p>Carl Jung and Isabel Briggs Myers' famous personality test that results in a 4-letter abbreviation you can use to sound smart on dating websites. (INFJ, ENTP, etc.)<br>
  It gives a detailed assessment of your type that includes what type of careers your personality will thrive in, as well as those it won't.</p>
</div>

<!-- <div>
  <h4><%= link_to "Myers-Brigg Personality Test", "http://www.16personalities.com/free-personality-test", :target => "_blank" %></h4>
  <p>Carl Jung and Isabel Briggs Myers' famous personality test that results in a 4-letter abbreviation you can use to sound smart on dating websites. (INFJ, ENTP, etc.)<br>
  It gives a detailed assessment of your type that includes what type of careers your personality will thrive in, as well as those it won't.</p>
</div> -->