 <div class="media">
  <div class="media-body">
    <h3>Mentors available:</h3>
    <% mentors.each do |m| %>
      <small>
        <%= mentor.user.name %> posted <%= time_ago_in_words(mentor.created_at) %> ago
          <p><%= mentor.description %></p>
      </small>
    <% end %>
  </div>
</div>

<!-- I want to make a partial to list the mentors available for each job. -->