<h1>Brainstorms</h1>

<h4><p>Do you know of a problem in the world that would be a great opportunity for someone in the Non-Office Jobs community to tackle? <br />
List it here!</p></h4>
<br />

<div class="row">
  <div class="col-md-8">
    <% @brainstorms.each do |brainstorm| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to brainstorm.title, brainstorm %>
          </h4>
        </div>
      </div>
    <% end %>
    <%= will_paginate @brainstorm %>
  </div>
  <div class="col-md-4">
    <% if policy(Brainstorm.new).create? %>
      <%= link_to "New Brainstorm", new_brainstorm_path, class: 'btn btn-success' %>
    <% end %>
  </div>

</div>